# ==============================================================================
# 1. DATA A STRUKTURY (Lokální a generované soubory)
# ==============================================================================
# Syrová lokální data
vlist_data/
syrova_data/

# Zpracovaná data (.npy soubory)
data/

# ==============================================================================
# 2. VÝSTUPY MODELŮ A KONFIGURACE
# ==============================================================================
# PyTorch modely (binární soubory .pth a .pt) a reporty z trénování(.md)
moje_modely/
*.pth
*.pt

# Výstupní reporty z trénování
*.md

# Lokální konfigurační soubory a logy
last_model.txt
train_config.json
.prumyslova_sit_app/

# ==============================================================================
# 3. VÝVOJOVÉ PROSTŘEDÍ A SYSTÉM (Python standard)
# ==============================================================================
# Virtuální prostředí
venv/
.venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Vývojářské nástroje (volitelné, např. VS Code / Jupyter)
.vscode/
.idea/
.ipynb_checkpoints/